In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
energydata = pd.read_csv('energydata_complete.csv')

In [3]:
energydata.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

### Question 12

selecting columns T2 and T6

In [4]:
simple_lr = energydata[['T2','T6']]

In [5]:
features_data = simple_lr.drop(columns=['T6'])
target_var = simple_lr['T6']

splitting the data

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_data, target_var,
test_size=0.3, random_state=1)

In [7]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
#fit the model to the training dataset
lr.fit(x_train, y_train)


#obtain predictions
pred = lr.predict(x_test)

###### now to get our r-squared value

In [8]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, pred)
round(r2_score, 2)

0.65

In [9]:
answer = round(r2_score, 2) 

print('The r-squared value is ', answer)

The r-squared value is  0.65

### Question 13

dropping the necessary columns

In [10]:
df = energydata.drop(columns=['date', 'lights'])

In [11]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
features_data = normalised_data.drop(columns=['Appliances'])
target = normalised_data['Appliances']

#Now, we split our dataset into the training and testing dataset.

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_data, target,
test_size=0.3, random_state=42)

In [12]:
mlp = LinearRegression()
#fit the model to the training dataset
mlp.fit(x_train, y_train)
#obtain predictions
predicted_values = mlp.predict(x_test)

#Now getting the Mean absolute error
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.05

In [13]:
answer = round(mae, 2) 

print('The Mean Absolute Error is ', answer)

The Mean Absolute Error is  0.05

### Question 14

In [14]:
rss = np.sum(np.square(y_test - predicted_values))
round(rss, 2)

45.35

In [15]:
print('The Residual Sum of Squares is ', round(rss, 2))

The Residual Sum of Squares is  45.35

### Question 15

In [16]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

0.088

In [17]:
print('The Root Mean Squared Error is ', round(rmse, 3))

The Root Mean Squared Error is  0.088

### Question 16

getting the coefficient of determination, this is also known as the r2 score

In [18]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.15

In [19]:
print('The Coefficient of Determination is ', round(r2_score, 2))

The Coefficient of Determination is  0.15

### Question 17

In [20]:
def get_weights_df(model, feat, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(mlp, x_train, 'Linear_Model_Weight')

linear_model_weights

       Features  Linear_Model_Weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv1             0.000770
11          rv2             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547

In [21]:
min_weight = linear_model_weights['Linear_Model_Weight'].min()
max_weight = linear_model_weights['Linear_Model_Weight'].max()

In [22]:
min_weight

-0.45669794833849997

In [23]:
max_weight

0.5535465998386386

###### from the values obtained above, the features with lowest and highest weights respectively are
###### RH_2 and RH_1

### Question 18

In [24]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [25]:
predict_values = ridge_reg.predict(x_test)

In [26]:
rmse = np.sqrt(mean_squared_error(y_test, predict_values))
round(rmse, 3)

0.088

###### we can see here that there are no changes as we got the same root mean squared error when using the initial model above

### Question 19

In [27]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [28]:
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

In [29]:
final_weights = lasso_weights_df

In [30]:
final_weights

       Features  Lasso_weight
0        RH_out     -0.049557
1          RH_8     -0.000110
2            T1      0.000000
3     Tdewpoint      0.000000
4    Visibility      0.000000
5   Press_mm_hg     -0.000000
6         T_out      0.000000
7          RH_9     -0.000000
8            T9     -0.000000
9            T8      0.000000
10         RH_7     -0.000000
11          rv1     -0.000000
12           T7     -0.000000
13           T6      0.000000
14         RH_5      0.000000
15           T5     -0.000000
16         RH_4      0.000000
17           T4     -0.000000
18         RH_3      0.000000
19           T3      0.000000
20         RH_2     -0.000000
21           T2      0.000000
22         RH_6     -0.000000
23          rv2     -0.000000
24    Windspeed      0.002912
25         RH_1      0.017880

###### from our outputs above, we can see that 4 features have non-zero feature weights

### Question 20

In [31]:
predict = lasso_reg.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, predict))
round(rmse, 3)

0.094

In [32]:
print('The new Root Mean Squared Error with Lasso Regression is ', round(rmse, 3))

The new Root Mean Squared Error with Lasso Regression is  0.094